.container {
  background: $brand-dark-gray;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  // margin: auto;
}

.row {
  width: 100%;
  display: flex;
}

.top-nav__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
